@import "../config";

:host {
    .tag-draggable {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        min-width: 0;
        @include mat-elevation(6);
    }

    tag-card-view {
        pointer-events: none;
    }
}
