@import "../../cards/config";

:host {
    $size: 28px;
    $pad: 8px;
    display: grid;
    grid-template-columns: repeat(4, $size);
    grid-column-gap: $pad;
    grid-row-gap: $pad;

    .color-button {
        position: relative;
        width: $size;
        height: $size;
        border-radius: 100%;
        cursor: pointer;

        &:hover {
            color: $gray-800 !important;
            border-color: $gray-800 !important;
        }

        fa-icon {
            $icon: 16px;
            display: block;
            font-size: $icon;
            width: $icon;
            height: $icon;
            line-height: $icon;
            margin: 5px;
            color: $gray-700;
        }
    }
}
