<mat-card>
    <mat-card-header class="pb-3">
        <mat-card-title>Page not found</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p class="pl-3 pr-3">
            Sorry, but the page you were looking for could not be found.
        </p>
    </mat-card-content>
    <mat-card-actions class="d-flex pr-4 pb-3">
        <a class="ml-auto"
           mat-flat-button
           color="primary"
           [routerLink]="['/']">
            Back to home page
        </a>
    </mat-card-actions>
</mat-card>
