// PX to REM constants
// -----------------------------------------------
$_1px: 0.0625rem;
$_2px: 0.125rem;
$_3px: 0.1875rem;
$_4px: 0.25rem;
$_6px: $_4px + $_2px;
$_8px: 0.5rem;
$_10px: $_8px + $_2px;
$_12px: 0.75rem;
$_14px: 0.875rem;
$_16px: 1rem;
$_18px: 1.125rem;
$_20px: 1.25rem;
$_22px: 1.375rem;
$_24px: 1.5rem;
$_26px: 1.5rem + $_2px;
$_28px: $_26px + $_2px;
$_30px: $_28px + $_2px;
$_32px: 2rem;
$_36px: 2.25rem;
$_40px: $_36px + $_4px;
$_42px: $_40px + $_2px;
$_48px: 3rem;
$_60px: $_30px * 2;
$_64px: 4rem;
$_72px: 4.5rem;
$_80px: $_20px * 4;
$_128px: $_64px * 2;
