<form class="w-100" [formGroup]="group">
    <div class="d-flex flex-column flex-grow-1">
        <div class="d-flex w-100 align-items-baseline mb-1">
            <mat-form-field class="w-100">
                <input #inputTitle
                       autocomplete="off"
                       formControlName="title"
                       matInput
                       name="title"
                       placeholder="Title"
                       (blur)="updateItemAndValidate()"
                       (keypress)="keyPressTitle($event)">
                <mat-hint *ngIf="itemMetaTitle$ | async as itemMetaTitle">{{itemMetaTitle}}</mat-hint>
            </mat-form-field>
            <tag-reactive-tool class="ml-2"
                               [title]="false"
                               [tool]="itemMetaTool"></tag-reactive-tool>
        </div>

        <div class="d-flex w-100 align-items-baseline">
            <mat-form-field class="w-100">
                <input #inputUrl
                       autocomplete="off"
                       formControlName="url"
                       matInput
                       name="url"
                       placeholder="URL"
                       (blur)="updateItemAndValidate()"
                       (keypress)="keyPressUrl($event)">
                <mat-error *ngIf="controlUrl.hasError('required')">
                    URL is required
                </mat-error>
                <mat-error
                    *ngIf="controlUrl.hasError('invalidUrl') && !controlUrl.hasError('required')">
                    Please enter a valid URL address
                </mat-error>
            </mat-form-field>
        </div>
    </div>
</form>
